@CHARSET "UTF-8";

a:link,
a:visited {
    color: #0398CA;
}
a.white:link,
a.white:visited {
    color: #fff;
}

#zf-name {
	display: block;
    color: #91BE3F;
}

#welcome {
    color: #fff;
    background-image: url(../images/bkg_header.jpg);
    width:  600px;
    height: 400px;
    border: 2px solid #333;
    overflow: hidden;
    text-align: center;
}

#hello {
	font-size: 130%;
	padding-top: 10px;
	padding-bottom: 36px;
}

#more-information {
	padding-top: 12px;
    background-image: url(../images/bkg_body-bottom.gif);
    height: 100%;
}

#links {
	display: block;
	padding-bottom: 7px;
}

#powered_by {
	padding-top: 15px;
}
